In [1]:
## import libraries
import pandas as pd

In [5]:
df_all = pd.read_csv("data/PIP-MAPPED.csv")
df_all

,PropNum,Prop ID,Boro,AMPSDistrict,Prop Name,Site Name,Prop Location,Site Location,Acres,Category,...,ZipCode,COMMUNITYBOARD,Jurisdiction,NYSAssembly,NYSSenate,USCongress,Precinct,ComfortStation,Multipolygon,Sourcefc
0,B210T,B210T,B,10,Park,Park,N/B Gowanus Exwy. bet. 85 St. and 86 St.,N/B Gowanus Exwy. bet. 85 St. and 86 St.,0.004,Other,...,11209,310,DPR,46,22,11,68,No,MULTIPOLYGON (((-74.02263251784636 40.61963394...,Property
1,B210S,B210S,B,10,Park,Park,S/B Gowanus Exwy. bet. 85 St. and 86 St.,S/B Gowanus Exwy. bet. 85 St. and 86 St.,0.004,Other,...,11209,310,DPR,46,22,11,68,No,MULTIPOLYGON (((-74.02328071427831 40.62040292...,Property
2,B210R,B210R,B,10,Park,Park,S/B Gowanus Exwy. bet. 84 St. and 85 St.,S/B Gowanus Exwy. bet. 84 St. and 85 St.,0.004,Other,...,11209,310,DPR,46,22,11,68,No,MULTIPOLYGON (((-74.02277734206528 40.62098896...,Property
3,B210Q-BZ562,B210Q-BZ562,B,10,Coffey Square,Coffey Square,"Ft Hamilton Pkwy, 7th Ave, and 81st St","Ft Hamilton Pkwy, 7th Ave, and 81st St",0.104,Greenstreet,...,11209,310,DOT,46,22,11,68,No,MULTIPOLYGON (((-74.01966052807408 40.62239511...,Greenstreet
4,B210Q,B210Q,B,10,Park,Park,N/B Gowanus Exwy. bet. 81 St. and 82 St.,N/B Gowanus Exwy. bet. 81 St. and 82 St.,0.004,Greenstreet,...,"11209, 11228",310,DPR,46,22,11,68,No,MULTIPOLYGON (((-74.02043213436114 40.62213629...,Property
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6308,XZ89,XZ89,X,04,GREENSTREET,GREENSTREET,Grand Concourse And East 169th St.,Grand Concourse And East 169th St.,0.002,Greenstreet,...,10452,204,DOT,84,29,15,44,No,MULTIPOLYGON (((-73.91611084775985 40.83635750...,Greenstreet
6309,XZ60,XZ60,X,09,GREENSTREET,GREENSTREET,Obrien Bet. Soundview And Whiteplains,Obrien Bet. Soundview And Whiteplains,0.116,Greenstreet,...,10473,209,DOT,85,34,15,43,No,MULTIPOLYGON (((-73.85569906559061 40.81094207...,Greenstreet
6310,XZ58,XZ58,X,04,GREENSTREET,GREENSTREET,East 153rd St. And Grand Concourse,East 153rd St. And Grand Concourse,0.045,Greenstreet,...,10451,204,DOT,84,29,15,44,No,MULTIPOLYGON (((-73.92558691759697 40.82106312...,Greenstreet
6311,XZ57,XZ57,X,03,GREENSTREET,GREENSTREET,Union And 169th Street,Union And 169th Street,0.011,Greenstreet,...,10459,203,DOT,79,32,15,42,No,MULTIPOLYGON (((-73.89858234462281 40.83016386...,Greenstreet
6312,XZ56B,XZ56B,X,03,GREENSTREET,GREENSTREET,Tiffany And Intervale,Tiffany And Intervale,0.028,Greenstreet,...,10459,202,DOT,85,32,15,41,No,MULTIPOLYGON (((-73.89523031165204 40.82802767...,Greenstreet

In [13]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6313 entries, 0 to 6312
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PropNum           6313 non-null   object
 1   Prop ID           6313 non-null   object
 2   Boro              6313 non-null   object
 3   AMPSDistrict      6313 non-null   object
 4   Prop Name         6162 non-null   object
 5   Site Name         6162 non-null   object
 6   Prop Location     6311 non-null   object
 7   Site Location     6311 non-null   object
 8   Acres             6236 non-null   float64
 9   Category          5866 non-null   object
 10  Sub-Category      5041 non-null   object
 11  Rated             6313 non-null   object
 12  Reason Not Rated  1282 non-null   object
 13  Council District  6299 non-null   object
 14  ZipCode           6292 non-null   object
 15  COMMUNITYBOARD    6304 non-null   object
 16  Jurisdiction      6277 non-null   object
 17  NYSAssembly       6303 non-null   object
 18  NYSSenate         6301 non-null   object
 19  USCongress        6301 non-null   object
 20  Precinct          6278 non-null   object
 21  ComfortStation    6073 non-null   object
 22  Multipolygon      6313 non-null   object
 23  Sourcefc          6313 non-null   object
dtypes: float64(1), object(23)
memory usage: 1.2+ MB

In [27]:
df_all["Category"].unique()

array(['Other', 'Greenstreet', 'Small Park', nan, 'Large Park',
       'Small Center', 'Playground', 'Property', 'Schoolyard',
       'Large Center'], dtype=object)

In [34]:
df_all['Category'].eq("Large Center").value_counts()

False    6296
True       17
Name: Category, dtype: int64

In [40]:
df_parks = df_all[df_all['Category'].eq("Small Park","Large Park","Small Center","Large Center")].copy()

ValueError: No axis named Large Center for object type Series

In [7]:
df_all[["Boro", "ComfortStation"]]

     Boro ComfortStation
0       B             No
1       B             No
2       B             No
3       B             No
4       B             No
...   ...            ...
6308    X             No
6309    X             No
6310    X             No
6311    X             No
6312    X             No

[6313 rows x 2 columns]

In [11]:
df_all.groupby("Boro")["ComfortStation"].count()

Boro
B    1419
M    1124
Q    1794
R     625
X    1111
Name: ComfortStation, dtype: int64

In [12]:
df_all[['Boro','ComfortStation']].value_counts().unstack()

ComfortStation    No  Yes
Boro
B               1226  193
M                991  133
Q               1602  192
R                589   36
X                986  125

In [19]:
zipcodes = df_all[['Boro','ZipCode','ComfortStation',]].value_counts().unstack()
zipcodes

ComfortStation                     No   Yes
Boro ZipCode
B    11201                       84.0  10.0
     11234                       82.0   7.0
     11207                       79.0   8.0
     11211                       70.0   8.0
     11215                       54.0   8.0
...                               ...   ...
X    10458, 10467                 1.0   NaN
     10456, 10457, 10460          1.0   NaN
     10463, 10463                 NaN   1.0
     10472, 10473                 1.0   NaN
     10458, 10460, 10462, 10467   1.0   NaN

[300 rows x 2 columns]

In [21]:
zipcodes["Yes"].nlargest(5)

Boro  ZipCode
B     11224      14.0
M     10002      14.0
      00083      14.0
Q     11385      12.0
B     11201      10.0
Name: Yes, dtype: float64

In [23]:
zipcodes["Yes"].nsmallest(5)

Boro  ZipCode
B     11223                  1.0
      11210                  1.0
      11219                  1.0
      11229, 11234, 11235    1.0
M     10012                  1.0
Name: Yes, dtype: float64

In [24]:
zipcodes["No"].nlargest(5)

Boro  ZipCode
R     10314      147.0
      10305      105.0
Q     11365       88.0
X     10457       87.0
Q     11101       85.0
Name: No, dtype: float64